.sky {
	.cloud {
		position: absolute;
		background: rgba(255, 255, 255, 1.0);
		width: 30%; 
		aspect-ratio: 2.5;
		border-radius: 150px;	
		box-shadow: 10px 10px rgba(0,0,0,0.2);
	}
	.cloud:after {
		content: '';
		background: rgba(255, 255, 255, 1.0);
		position: absolute;
		width: 50%;
		aspect-ratio: 1.0;
		border-radius: 50%;
		top: -50%;
		left: 10%;
	}
	.cloud:before {
		content: '';
		background: rgba(255, 255, 255, 1.0);
		position: absolute;
		width: 70%;
		aspect-ratio: 1.0;
		border-radius: 50%;
		top: -75%;
		left: 20%;
	}
}